@{
    ViewBag.Title = "Add";
}

<div id="ADDEmployee" class="addButton hover employeeRelated">+ New Employee</div>
<div id="ADDRole" class="addButton hover employeeRelated">+ New Employee Role</div>
<div id="ADDJob" class="addButton hover jobRelated">+ New Job</div>
<div id="ADDJobType" class="addButton hover jobRelated">+ New Job Type</div>
<div id="ADDEquipment" class="addButton hover equipRelated">+ New Equipment</div>