@{
    ViewBag.Title = "Equipment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Equipment</h2>

<div class="content">
    <form action="/Add/AddEquipment" method="post">
        Title: <input id="AEName" type="text" name="Title"/>
        <input id="Submit1" type="submit" value="submit" />
    </form>
</div>